TELEGRAM_BOT_TOKEN=your_telegram_bot_token
OPENAI_API_KEY=your_openai_api_key

ADMIN_TELEGRAM_IDS=your_telegram_id
ADMIN_TELEGRAM_USERNAME=tungnt201

OPENAI_TEXT_MODEL=gpt-4.1-mini
OPENAI_TTS_MODEL=gpt-4o-mini-tts
OPENAI_TTS_VOICE=alloy

VIDEO_WORKER_COUNT=2
MAX_ACTIVE_JOB_PER_USER=1
MAX_QUEUE_SIZE=100
JOB_RETRY_COUNT=1
SQLITE_TIMEOUT_SECONDS=30
TELEGRAM_SEND_RETRY_COUNT=2
MAKEVIDEO_COOLDOWN_SECONDS=30